@font-face {
font-family: 'Avenir LT Std 55 Roman';
font-style: normal;
font-weight: normal;
src: url('../font/AvenirLTStd-Roman.woff') format('woff');
}

h1 {
	font-size:2.2em;
	font-weight: bold ; 
}

h2 {
	font-size: 2em;
	font-weight: bold ;
}

ul {
	font-size: 1.7em ; 
	list-style-type: none ; 
	color: white ; 
}

.menu 
 {
	text-decoration-line : none ; 
	color : white ;
}

.site {
	background-color: white;
	display : grid;
	grid-template-columns: 2fr 8fr ; 
	grid-gap: 10px ; 
	grid-template-areas: 
	"titre titre"
	"titrePage titrePage"
	"sidebar body" ; 
	font-family: 'Avenir LT Std 55 Roman', Arial, sans serif; 

}
.titre{
	grid-area: titre ; 
	justify-self : center;
}

.titrePage {
	grid-area: titrePage ;
	background-color: #436175 ; 
	border : solid 1px black;
	display:flex;
	justify-content: center ; 
}
.sidebar {
	grid-area: sidebar ; 
	background-color: #5A81B8 ;
	border : solid 1px black;
	display:flex;
	justify-content: center ;

}

.body{
	grid-area: body ; 
	background-image: url("fondBody.png"); 
	background-repeat: no-repeat;
	background-size: 100% 100% ; 
	border:solid 1px black;
	display : grid ;
	grid-template-columns: 4fr 6fr ; 
	grid-gap: 5px ; 
	grid-template-areas: 
	"texteIntro texteIntro"
	"article1 stream";
	}

.texteIntro {
grid-area: texteIntro ; 
background: white ; 
color : black ; 
margin : 10px ; 
padding: 5px ; 
font-size: 1em ;
}

.article1{
grid-area: article1 ;
margin : 5px;
font-size: 1.4em ; 
}

.stream{
	grid-area: stream ; 
}

.hsreplay{
	text-decoration-line: none ; 
	color : #2A4979;
}

.lienDeck{
	text-decoration-line: none ;
	color : #2A4979;
}